<main >
	<aside class="left">
		<ul>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
		</ul>
	</aside>
	
	<aside class="right">
		<ul>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
			<li>Tag Number1</li>
		</ul>
	</aside>
	<section>
		section
	</section>
</main>