// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    padding-left:5vw;
    padding-right:5vw;
    background-image:url(/assets/1.png);
}
 #logo {
        img {
            padding-left:15px;
            
            height: 51px;   
            border-radius:25px;
        }
    }
.navbar-inverse {
     background-color: none !important;
     border-color: none !important;

}
  .navbar{
     border: 0px !important;
     }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
      background-image:url(/assets/1.png) !important;
}


.container-fluid{
     background-image:url(/assets/1.png);
}
main {
widht:100vw;
justify-content:space-between;
display: flex;
    aside.left{
        width:15%;
        margin-right:20px;
        order:1;
        background:yellow;
        
    }
     aside.right{
      background:blue;
        width:15%;
        order:3;
    }

    section{
        width:60%;
        background:red;
            order:2;
            margin-right:20px;
        
        

        }
}






#question_{
    background:#f4f4f4;
    color:blue;
    width:30%;
    height:15px;
    
    padding:20px;
    align:center;
}
#answer_{
    background:lightgreen;
    color:#ed589d;
}